* {
	box-sizing: border-box;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container__progressbars {
	display: flex;
	flex-wrap: wrap;
	min-width: 270px;
	width: 100%;
	min-height: 100%;
}
.mySkills {
	background-color: rgb(255, 145, 0);
	position: relative;
	width: 100%;
	z-index: 2;
}
.mySkills > div > h1 {
	text-align: center;
}
.mySkillsContent {
	position: relative;
	z-index: 5;
}
.skillsIcon {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: 45% 55%;
}
.progresBarContainer {
	display: flex;
}
.linksContainer {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	padding-right: 1em;
}
.firstSkillLink,
.lastSkillLink {
	margin-left: -20px;
}
.beforeSkillLink {
	margin-left: -10px;
}
.ico-html5 {
	background-image: url(../img/skills_icons/html.svg);
}
.ico-css3 {
	background-image: url(../img/skills_icons/css3.svg);
}
.ico-js {
	background-image: url(../img/skills_icons/javascript.svg);
}
.ico-p5js {
	background-image: url(../img/skills_icons/p5js.svg);
}
.ico-bootstrap {
	background-image: url(../img/skills_icons/bootstrap.svg);
}
.ico-sass {
	background-image: url(../img/skills_icons/sass.svg);
}
.ico-react {
	background-image: url(../img/skills_icons/react.svg);
}
.ico-redux {
	background-image: url(../img/skills_icons/redux.svg);
}
.ico-typeScript {
	background-image: url(../img/skills_icons/typescript.svg);
}
.ico-webpack {
	background-image: url(../img/skills_icons/webpack.svg);
}
.progressbar {
	position: relative;
	width: 170px;
	height: 170px;
	transform: rotate(-90deg);
}
.progressbar__svg {
	position: relative;
	width: 100%;
	height: 100%;
}
.progressbar__svg-circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-width: 10;
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	stroke: white;
	stroke-linecap: round;
	transform: translate(5px, 5px);
	r: 70;
	cx: 80;
	cy: 80;
}
.shadow-html {
	filter: drop-shadow(0 0 5px #f63);
}
.shadow-css {
	filter: drop-shadow(0 0 5px #3bf);
}
.shadow-scss {
	filter: drop-shadow(0 0 5px #f3f);
}
.shadow-js {
	filter: drop-shadow(0 0 5px #ff3);
}
.shadow-ts {
	filter: drop-shadow(0 0 5px #37f);
}
.shadow-redux {
	filter: drop-shadow(0 0 5px #723fb6);
}
.shadow-react {
	filter: drop-shadow(0 0 5px #0070ff);
}
.shadow-p5js {
	filter: drop-shadow(0 0 5px #f33);
}
.shadow-bootstrap {
	filter: drop-shadow(0 0 5px #6126ad);
}
.shadow-webpack {
	filter: drop-shadow(0 0 5px #6db4f3);
}
.circle-html {
	animation: anim_circle-html 1s ease-in-out forwards;
}
.circle-css {
	animation: anim_circle-css 1s ease-in-out forwards;
}
.circle-scss {
	animation: anim_circle-scss 1s ease-in-out forwards;
}
.circle-js {
	animation: anim_circle-js 1s ease-in-out forwards;
}
.circle-ts {
	animation: anim_circle-ts 1s ease-in-out forwards;
}
.circle-redux {
	animation: anim_circle-redux 1s ease-in-out forwards;
}
.circle-react {
	animation: anim_circle-react 1s ease-in-out forwards;
}
.circle-p5js {
	animation: anim_circle-p5js 1s ease-in-out forwards;
}
.circle-bootstrap {
	animation: anim_circle-bootstrap 1s ease-in-out forwards;
}
.circle-webpack {
	animation: anim_circle-webpack 1s ease-in-out forwards;
}
.progressbar__text {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0.25em 0.5em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 0.25em;
	transform: translate(-50%, -50%) rotate(90deg);
	width: 100%;
	height: 100%;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 575px) {
	@keyframes anim_circle-html {
		to {
			stroke-dashoffset: 260;
		}
	}
	@keyframes anim_circle-css {
		to {
			stroke-dashoffset: 280;
		}
	}
	@keyframes anim_circle-js {
		to {
			stroke-dashoffset: 295;
		}
	}
	@keyframes anim_circle-p5js {
		to {
			stroke-dashoffset: 250;
		}
	}
	@keyframes anim_circle-bootstrap {
		to {
			stroke-dashoffset: 300;
		}
	}
	@keyframes anim_circle-scss {
		to {
			stroke-dashoffset: 330;
		}
	}
	@keyframes anim_circle-react {
		to {
			stroke-dashoffset: 320;
		}
	}
	@keyframes anim_circle-redux {
		to {
			stroke-dashoffset: 360;
		}
	}
	@keyframes anim_circle-ts {
		to {
			stroke-dashoffset: 360;
		}
	}
	@keyframes anim_circle-webpack {
		to {
			stroke-dashoffset: 375;
		}
	}

	.container__progressbars {
		justify-content: flex-start;
	}
	.progressbar__svg-circle {
		r: 35;
		cx: 40;
		cy: 40;
		stroke-width: 5px;
	}
	.progresBarContainer {
		margin: 10px 0 10px 45px;
		align-items: center;
	}
	.progressbar {
		width: 90px;
		height: 90px;
	}
	.linksContainer > a {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.firstSkillLink,
	.lastSkillLink {
		margin-left: -10px;
	}
	.centerSkillLink {
		margin-left: 10px;
	}
	.beforeSkillLink {
		margin-left: 0;
	}
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
	@keyframes anim_circle-html {
		to {
			stroke-dashoffset: 200;
		}
	}
	@keyframes anim_circle-css {
		to {
			stroke-dashoffset: 220;
		}
	}
	@keyframes anim_circle-js {
		to {
			stroke-dashoffset: 235;
		}
	}
	@keyframes anim_circle-p5js {
		to {
			stroke-dashoffset: 190;
		}
	}
	@keyframes anim_circle-bootstrap {
		to {
			stroke-dashoffset: 240;
		}
	}
	@keyframes anim_circle-scss {
		to {
			stroke-dashoffset: 280;
		}
	}
	@keyframes anim_circle-react {
		to {
			stroke-dashoffset: 270;
		}
	}
	@keyframes anim_circle-redux {
		to {
			stroke-dashoffset: 320;
		}
	}
	@keyframes anim_circle-ts {
		to {
			stroke-dashoffset: 320;
		}
	}
	@keyframes anim_circle-webpack {
		to {
			stroke-dashoffset: 355;
		}
	}

	.container__progressbars {
		justify-content: flex-start;
	}
	.progressbar__svg-circle {
		r: 47;
		cx: 60;
		cy: 60;
		stroke-width: 7px;
	}
	.progresBarContainer {
		margin: 10px 0 10px 45px;
		align-items: center;
	}
	.progressbar {
		width: 135px;
		height: 135px;
	}
	.linksContainer > a {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.firstSkillLink,
	.lastSkillLink {
		margin-left: -20px;
	}
	.centerSkillLink {
		margin-left: 10px;
	}
	.beforeSkillLink {
		margin-left: -5;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { 
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	@keyframes anim_circle-html {
		to {
			stroke-dashoffset: 90;
		}
	}
	@keyframes anim_circle-css {
		to {
			stroke-dashoffset: 110;
		}
	}
	@keyframes anim_circle-js {
		to {
			stroke-dashoffset: 125;
		}
	}
	@keyframes anim_circle-p5js {
		to {
			stroke-dashoffset: 80;
		}
	}
	@keyframes anim_circle-bootstrap {
		to {
			stroke-dashoffset: 130;
		}
	}
	@keyframes anim_circle-scss {
		to {
			stroke-dashoffset: 200;
		}
	}
	@keyframes anim_circle-react {
		to {
			stroke-dashoffset: 190;
		}
	}
	@keyframes anim_circle-redux {
		to {
			stroke-dashoffset: 260;
		}
	}
	@keyframes anim_circle-ts {
		to {
			stroke-dashoffset: 260;
		}
	}
	@keyframes anim_circle-webpack {
		to {
			stroke-dashoffset: 310;
		}
	}

	.container__progressbars {
		justify-content: space-around;
	}
	.progressbar__svg-circle {
		r: 70;
		cx: 80;
		cy: 80;
		stroke-width: 10px;
	}
	.progresBarContainer {
		margin: 10px 0 10px 45px;
		align-items: center;
	}
	.progressbar {
		width: 180px;
		height: 180px;
	}
	.linksContainer > a {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.firstSkillLink,
	.lastSkillLink {
		margin-left: -30px;
	}
	.centerSkillLink {
		margin-left: 0;
	}
	.beforeSkillLink {
		margin-left: -15;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1400px) {
} */
/* Super extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
	@keyframes anim_circle-html {
		to {
			stroke-dashoffset: 90;
		}
	}
	@keyframes anim_circle-css {
		to {
			stroke-dashoffset: 110;
		}
	}
	@keyframes anim_circle-js {
		to {
			stroke-dashoffset: 125;
		}
	}
	@keyframes anim_circle-p5js {
		to {
			stroke-dashoffset: 80;
		}
	}
	@keyframes anim_circle-bootstrap {
		to {
			stroke-dashoffset: 130;
		}
	}
	@keyframes anim_circle-scss {
		to {
			stroke-dashoffset: 200;
		}
	}
	@keyframes anim_circle-react {
		to {
			stroke-dashoffset: 190;
		}
	}
	@keyframes anim_circle-redux {
		to {
			stroke-dashoffset: 260;
		}
	}
	@keyframes anim_circle-ts {
		to {
			stroke-dashoffset: 260;
		}
	}
	@keyframes anim_circle-webpack {
		to {
			stroke-dashoffset: 275;
		}
	}

	.container__progressbars {
		justify-content: space-around;
	}
	.progressbar__svg-circle {
		r: 85;
		cx: 100;
		cy: 100;
		stroke-width: 13px;
	}
	.progresBarContainer {
		margin: 10px 0 10px 45px;
		align-items: center;
	}
	.progressbar {
		width: 210px;
		height: 210px;
	}
	.linksContainer > a {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.firstSkillLink,
	.lastSkillLink {
		margin-left: -40px;
	}
	.centerSkillLink {
		margin-left: 0;
	}
	.beforeSkillLink {
		margin-left: -20;
	}
}
/* Super extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 2800px) {
} */
