/*common styles*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
body,
html {
  height: 100%;
  font-size: 10px;
}
p {
  color: rgb(77, 77, 77);
  font-family: 'Biryani', sans-serif;
  font-size: 1.8rem;
}
a {
  color: rgb(77, 77, 77);
  font-family: 'Biryani', sans-serif;
  font-size: 1.8rem;
  color: purple; 
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: black;  
}
a:focus, a:active {
  color: white;
}
h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Biryani', sans-serif;
}
.loader-gif {
  background-image: url(../img/Ripple-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f2f3;
  z-index: 9999;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

}
.flex_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
/*header styles*/
.header {
  background-color: rgb(255, 145, 0);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
}
.header_overlay {
  background-attachment: fixed;
  position: absolute;
  background-image: url(../img/cover_bg_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.headerContent {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  
}
.blizThumbnail {
  background-image: url(../img/user-3.jpg);
  border-radius: 50%;
  width: 40%;
  height: 40%;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  background-size: 130%;
}
.headerContent > p {
  font-family: 'Biryani', sans-serif;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
.headerContent > h1 {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(-5deg);
}
/*main block, first article styles*/
.main {
  height: auto;
}
.helloBlock {
  width: 50%;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}
.helloBlock > p {
  font-size: 2rem;
}
.helloBlock > div:nth-of-type(1) {
  margin: 1rem;
  flex: 1 200px;
}
.helloBlock > div > h1 {
  font-size: 3rem;
  text-align: right;
}

.helloBlock > div:nth-of-type(2) {
  margin: 1rem;
  flex: 2 200px;
  text-align: left;
  padding-top: 10px;
}
/*main part, second skills article styles*/
.wicdHeader {
  display: grid;  
  text-align: center;
  text-transform: uppercase; 
  background-color: #DFDFDF;
  border-radius: 10px;
  width: 20rem;
  margin: 0;
}
.wicdCont > div:nth-of-type(odd), .wicdCont > div:nth-of-type(even) {
  display: grid;  
}
@media screen and (max-width: 968px) {
  /*grid box area for "wicd" article*/    
  .gridBoxWicd {
    display: grid;
    grid-template-areas: 'empt1 cont empt2';    
    grid-template-columns: 1fr 4fr 1fr;
  }
  .wicdCont {
    display: grid;
    grid-area: cont;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .wicdCont > div:nth-of-type(odd) {
    width: 100%;
    display: grid;
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;
  }
  .wicdCont > div:nth-of-type(even) {  
    width: 100%;    
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;       
  }
  .btnResponsiveSize {
    font-size: 10px;
  }
}  

@media screen and (min-width: 1024px) {
  /*grid box area for "wicd" article*/
  .justifySelfCenter {
    justify-self: center;
  }
  .justifySelfLeft {
    justify-self: start;
  }
  .justifySelfRight {
    justify-self: end;
  }
  .gridBoxWicd {
    display: grid;
    grid-template-areas: 'empt1 cont empt2';    
    grid-template-columns: 1fr 4fr 1fr;
  }
  .wicdCont {
    display: grid;
    grid-area: cont;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .wicdCont > div:nth-of-type(odd) {
    margin-left: 1px;    
    width: 50%;
    align-self: start;
    justify-self: start;
    grid-template-columns: 8fr 0.5fr 0.5fr;
    grid-template-areas: 'contS icon hLine';
  }  
  .wicdCont > div:nth-of-type(odd) > div:nth-of-type(1)  {    
    justify-self: end;
  }  
  
  .wicdCont > div:nth-of-type(even) {  
    margin-right: 1px; 
    width: 50%;    
    align-self: start;
    justify-self: end;
    grid-template-columns: 0.5fr 0.5fr 8fr;
    grid-template-areas: 'hLine icon contS';       
  }  
  .wicdCont > div:nth-of-type(even) > div:nth-of-type(3) {
    margin-left: 20px;
  }
  .invertContS {
    grid-area: contS;
  }
  .invert_vLine {
    grid-area: hLine;    
  }
  .invertIcon {
    grid-area: icon;
  }
  .btnResponsiveSize {
    font-size: 15px;
  }
}

/* icon background */
.bgIcon {    
  background-color: rgb(255, 145, 0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 7px;
  margin-top: 100%;  
  text-align: center;
  font-size: 1.5rem !important;   
  color: white;
}

/* vertical line css */
.vertLine {
  background-color: grey;
  width: 2px;
}
/*hide animated elements for JQuery*/
.hidden {
  opacity: 0;
  visibility: hidden;
}

.mySkills {
  background-color: rgb(255, 145, 0);
  position: relative;
  z-index: 0;
  width: 100%;  
}
.mySkillsOverlay {
  background-attachment: fixed;
  position: absolute;
  background-image: url(../img/cover_bg_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mySkills > div > h1 {
  text-align: center;  
}
.mySkillsContent {
  position: relative;
  z-index: 3;
}
.examplesContainer {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-around;
  padding: 40px;
}
.examplesContainer > div {
  flex: 0;    
  /* min-width: 250px;
    min-height: 200px; */  
  margin: 20px;
  border-style: double;
  border-color: white;
  
  /* background-color: #D5E8FF;     */  
}
.project_1 {
  background-image: url(../img/NeoBliz_profile.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

/*buttons in the "My skills" area*/
.readMoreBtn, .viewProject  {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #FED761 5%, #fca314 100%);
  background-color:#ffec64;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;  
  font-weight:bold;
  font-family: 'Big Shoulders Display', cursive;
  position: relative;
  padding:3px 14px;
  margin: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  outline:none;
  z-index: 7;
}
.readMoreBtn:hover, .viewProject:hover {
  background:linear-gradient(to bottom, #fca314 5%, #ffec64 100%);
  background-color:#fca314;
}
.readMoreBtn:active {
  position:relative;
  top:1px;
}
.viewProject {
  float: right;
  margin-top: 3px;
  margin-left: 4px;
}
.viewProject:active {
  bottom:0px;
}

#fullSizeSkillBoxOverlay {  
  height: 100vh;
  width: 100%;
  background-color: #000000;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  z-index: 9;
}
/* styles for close button */
.outerCloseButton {
  position: relative;
  margin: auto;
  width: 9px;
  height: 9px;
  margin-top: -12px;
  margin-right: -13px;
  cursor: pointer;
  float: right;
}

.innerCloseButton  {
  width: inherit;
  height: inherit;
  text-align: center;
}

label.closeButton {
  position: absolute;
  font-size: .4rem; 
  line-height: 1rem;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
  margin: auto;
  margin-left: -5px;
  text-indent: 0;
}

.innerCloseButton:before, .innerCloseButton:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #FFC107;
  left: 0;
  transition: all .3s ease-in;
}

.innerCloseButton:before {
  top: 40%; 
  transform: rotate(45deg);  
}

.innerCloseButton:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outerCloseButton:hover label {
  opacity: 1;
}

.outerCloseButton:hover .innerCloseButton:before,
.outerCloseButton:hover .innerCloseButton:after {
  transform: rotate(0);
}

.outerCloseButton:hover .innerCloseButton:before {
  top: 0;
}

.outerCloseButton:hover .innerCloseButton:after {
  bottom: 0;
}

.paragraphMSD {
  font-size: 0.6rem;
  line-height: 1.5;  
  margin: 0;  
  text-align: justify;
  text-indent: 6px !important;  
  width: 90%;
  z-index: 6;
}
.topParagraphMSD {
  position: absolute;  
  left: 10px;
  top: 10px;  
}
.bottomParagraphMSD {
  position: relative;
  text-indent: 0px !important; 
}
.bottomPart {
  position: absolute;
  bottom: 3px;
  left: 10px;
}
.canvasCodeContainer {
  display: flex;
  flex-flow: row;
  min-height: 90%;
}
.frameShadow {  
  -webkit-box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  height: 410px;
  width: 410px;
  margin: 10px; 
}
#canvasHolderSmall {  
  padding: 3px;
  padding-left: 2px;
  padding-top: 4.5px; 
}
#codeSnippet {  
  padding: 6px;   
}
h2.projectHeader {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}



.smallCanvas {
  display: inline-flex;
  width: 800px;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}
.snippetWrapper {
  text-align: left;  
  font-size: 1.4rem;
  overflow: scroll;
  height: 100%;
  background-color: #272822;
  scrollbar-color: orange #E0E0E0;
  scrollbar-width: thin;
}
/* scroll bar sstyle */
  .snippetWrapper::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .snippetWrapper::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  .snippetWrapper::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C3C3C3;
  }
.snippetWrapper > div > table > tbody > tr > td:first-child > pre {
  color: black;
  background-color: #E8E8E8;
  text-align: left;
}
.headerContent a {
  font-size: 1.4rem;
}