/*common styles*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
body,
html {
  height: 100%;
  font-size: 10px;
}
p {
  color: rgb(77, 77, 77);
  font-family: 'Biryani', sans-serif;
  font-size: 1.8rem;
}
a {
  color: rgb(77, 77, 77);
  font-family: 'Biryani', sans-serif;
  font-size: 1.8rem;
  color: purple; 
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: black;  
}
a:focus, a:active {
  color: white;
}
h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Biryani', sans-serif;
}
.blizThumbnail {
  background-image: url(../img/thmb.png);
  border-radius: 50%;
  width: 40%;
  height: 40%;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  background-size: 130%;
}
.loader-gif {
  background-image: url(../img/Ripple-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f2f3;
  z-index: 9999;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

}
.flex_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
/*header styles*/
.header {
  background-color: rgb(255, 145, 0);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
}
.header_overlay {
  background-attachment: fixed;
  position: absolute;
  background-image: url(../img/cover_bg_3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.links_to_acc {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
}
.logo_prop, .go_home {
  margin:3px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-position: 60% 60%;
  background-repeat: no-repeat;
  background-size: 80%;
  transition-duration: 1s;
}
.go_home {
  background-image: url(../img/home-icon-transparent-background-17.svg);
}
.twitter_logo {
  background-image: url(../img/icons8-twitter.svg);
}

.codecademy_logo {
  background-image: url(../img/CCico.svg);  
}
.kacademy_logo {
  background-image: url(../img/Kacademy_logo.svg);
}
.github_logo {
  background-image: url(../img/GitHub-Mark-120px-plus.svg);
}
.twitter_logo:hover, .codecademy_logo:hover, 
.kacademy_logo:hover, .github_logo:hover, .go_home:hover {
  background-color: #fff;
  transition-duration: 1s;
}

.headerContent {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  
}
.headerContent a {
  font-size: 1.4rem;
}

.headerContent > p {  
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
.headerContent > h1 {
  font-family: 'Caveat', cursive;
  
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(-5deg);
}
/*main block, first article styles*/
.main {
  height: auto;
}
.helloBlock {
  width: 50%;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}
.helloBlock > p {
  font-size: 2rem;
}
.helloBlock > div:nth-of-type(1) {
  margin: 1rem;
  flex: 1 200px;
}
.helloBlock > div > h1 {
  font-size: 3rem;
  text-align: right;
}

.helloBlock > div:nth-of-type(2) {
  margin: 1rem;
  flex: 2 200px;
  text-align: left;
  padding-top: 10px;
}
/*main part, second skills article styles*/
.wicdHeader {
  display: grid;  
  text-align: center;
  text-transform: uppercase; 
  background-color: #DFDFDF;
  border-radius: 10px;
  width: 20rem;
  margin: 0;
}
.wicdCont > div:nth-of-type(odd), .wicdCont > div:nth-of-type(even) {
  display: grid;  
}


/* icon background */
.bgIcon {    
  background-color: rgb(255, 145, 0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 7px;
  margin-top: 100%;  
  text-align: center;
  font-size: 1.5rem !important;   
  color: white;
}

/* vertical line css */
.vertLine {
  background-color: grey;
  width: 2px;
}
/*hide animated elements for JQuery*/
.hidden {
  opacity: 0;
  visibility: hidden;
}

.mySkills {
  background-color: rgb(255, 145, 0);
  position: relative;
  z-index: 0;
  width: 100%;  
}
.mySkillsOverlay {
  background-attachment: fixed;
  position: absolute;
  background-image: url(../img/cover_bg_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mySkills > div > h1 {
  text-align: center;  
}
.mySkillsContent {
  position: relative;
  z-index: 3;
}
.examplesContainer {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-around;
  padding: 40px;
}
.examplesContainer > div {
  flex: 0;    
  /* min-width: 250px;
    min-height: 200px; */  
  margin: 20px;
  border-style: double;
  border-color: white;
  
  /* background-color: #D5E8FF;     */  
}
.project_1 {
  background-image: url(../img/NeoBliz_profile.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.project_2 {
  background-image: url(../img/project2.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 150% 100%;
}
.project_2 .viewProject {
  left: 193px;
  bottom: -12px;
}
.project_2 .viewProject:active {
  bottom: -15px;
}
.project_3 {
  background-image: url(../img/project3.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.project_4 {
  background-image: url(../img/project4.png);
  background-repeat: no-repeat;
  -webkit-background-size: 130% 100%;
  background-size: 140% 100%;
  background-position: 50% 0%;  
}


.project_5 {
  background-image: url(../img/project5.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.project_6 {
  background-image: url(../img/NeoBliz_profile.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}


/*buttons in the "My skills" area*/
.readMoreBtn, .viewProject  {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #FED761 5%, #fca314 100%);
  background-color:#ffec64;  
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;  
  font-weight:bold;
  font-family: 'Big Shoulders Display', cursive;
  position: relative;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  outline:none;
  z-index: 7;
}
.readMoreBtn:hover, .viewProject:hover {
  background:linear-gradient(to bottom, #fca314 5%, #ffec64 100%);
  background-color:#fca314;
}
.readMoreBtn:active {
  position:relative;
  top:1px;
}
.viewProject {
  float: right;
  margin-top: 3px;
  margin-left: 4px;
  left: 190px;
  bottom: 15px;
}
.viewProject:active {
  bottom:10px;
}

.project_1 .viewProject {
  left: 0;
  bottom: 0;
}

#fullSizeSkillBoxOverlay {  
  height: 100vh;
  width: 100%;
  background-color: #000000;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  z-index: 9;
}
/* styles for close button */
.outerCloseButton {
  position: relative;
  margin: auto;  
  cursor: pointer;
  float: right;
}

.innerCloseButton  {
  width: inherit;
  height: inherit;
  text-align: center;
  text-indent: 0;
}

label.closeButton {
  position: absolute;  
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
  margin: auto;  
  text-indent: 0;
  text-align: center;
}

.innerCloseButton:before, .innerCloseButton:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #FFC107;
  left: 0;
  transition: all .3s ease-in;
}

.innerCloseButton:before {   
   
}

.innerCloseButton:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outerCloseButton:hover label {
  opacity: 1;
}

.outerCloseButton:hover .innerCloseButton:before,
.outerCloseButton:hover .innerCloseButton:after {
  transform: rotate(0);
}

.outerCloseButton:hover .innerCloseButton:before {
  top: 0px;
}

.outerCloseBinnerCloseButtonutton:hover .innerCloseButton:after {
  bottom: 0px;
}

.paragraphMSD {    
  margin: 0;  
  text-align: justify;
  text-indent: 6px !important;  
  width: 90%;
  z-index: 6;
  color: white;
}
.topParagraphMSD {
  position: absolute;      
}
.bottomParagraphMSD {
  position: relative;
  text-indent: 0px !important; 
}
.bottomPart {
  position: absolute; 
}
.canvasCodeContainer {
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-around;
  min-height: min-content;  
}
.frameShadow {  
  -webkit-box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  box-shadow: 10px 13px 33px 8px rgba(0,0,0,0.75);
  height: 410px;
  width: 410px;
  margin: 10px; 
}
#canvasHolderSmall {  
  padding: 3px;
  padding-left: 2px;
  padding-top: 4.5px; 
}
#codeSnippet {  
  padding: 6px;   
}
h2.projectHeader {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}
.smallCanvas {
  background-color: rgb(255, 145, 0);
  position: relative;  
  width: 100%;   
  min-height: min-content;
  z-index: 0;   
}
.smallCanvasContainer {
  position: relative;
  z-index: 2;
}
.smallCanvas p {
  max-width: 60%;
  color: rgb(255, 255, 255);
  text-align: center;  
}
.botDescription {
  margin-top: 30px;
}
.snippetWrapper {
  text-align: left;  
  font-size: 1.4rem;
  overflow: scroll;
  height: 100%;
  background-color: #272822;
  scrollbar-color: orange #E0E0E0;
  scrollbar-width: thin;
}
/* scroll bar sstyle */
.snippetWrapper::-webkit-scrollbar-track  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.snippetWrapper::-webkit-scrollbar  {
  width: 12px;
  background-color: #F5F5F5;
}

.snippetWrapper::-webkit-scrollbar-thumb  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #C3C3C3;
}
.snippetWrapper > div > table > tbody > tr > td:first-child > pre {
  color: black;
  background-color: #E8E8E8;
  text-align: left;
}


@media screen and (max-width: 480px) {
 .gridBoxWicd {
    display: grid;
    grid-template-areas: 'empt1 cont empt2';    
    grid-template-columns: 0.5fr 4fr 0.5fr;
  }
  .wicdCont {
    display: grid;
    grid-area: cont;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 100%;

  }
  .wicdCont > div:nth-of-type(odd) {
    width: 100%;
    display: grid;
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;
  }
  .wicdCont > div:nth-of-type(even) {  
    width: 100%;    
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;       
  }
  .projectDiv {
    min-width: 150px; 
    min-height: 120px;
    width: 150px; 
    height: 120px;
  }
  .btnResponsiveSize {
    font-size: 5px;
  }  
  .headerContent > h1 {
    font-size: 3.5rem;
  }
  .bgIcon {
    margin: 5px;
  }
  .paragraphMSD {
    font-size: 0.43rem;
    line-height: 1.5;
  }
  .butInScale {
    font-size: 0.6rem !important;   
  }
  .readMoreBtn, .viewProject  {
    border-radius:6px;    
    padding:0px 2px 0px 0px;
    margin: 2px;
    font-size: 0.8rem;    
  }
  .readMoreBtn {    
    padding: 0px 2px 0px 2px;
    margin: 2px;
    font-size: 0.8rem;    
  }
  .topParagraphMSD {    
    left: 3px;
    top: 3px;  
  }
  .bottomPart {    
    bottom: 3px;
    left: 3px;
  }
  label.closeButton {
    font-size: .4rem; 
    line-height: .7rem;
    margin-left: -6.5px;
  }
  .outerCloseButton {    
    width: 10px;
    height: 15px;
    margin-top: -16px;
    margin-right: -8px;    
  }
  .innerCloseButton:before {
    top: 40%;
    transform: rotate(45deg);    
  }  
}
@media screen and (min-width: 500px) {
  /*grid box area for "wicd" article*/    
  .gridBoxWicd {
    display: grid;
    grid-template-areas: 'empt1 cont empt2';    
    grid-template-columns: 1fr 4fr 1fr;
  }
  .wicdCont {
    display: grid;
    grid-area: cont;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .wicdCont > div:nth-of-type(odd) {
    width: 100%;
    display: grid;
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;
  }
  .wicdCont > div:nth-of-type(even) {  
    width: 100%;    
    align-self: start;
    justify-self: start;
    grid-template-columns: 1fr 1fr 8fr;       
  }
  .projectDiv {
    min-width: 190px; 
    min-height: 150px;
    width: 190px; 
    height: 150px;
  }
  .viewProject {
    left: 117px;
    bottom: 9px;
  }
  .viewProject:active {
    bottom:5px;
  }
  .btnResponsiveSize {
    font-size: 8px;
  }  
  .headerContent > h1 {
    font-size: 3.5rem;
  }
  .bgIcon {
    margin: 5px;
  }
  .paragraphMSD {
    font-size: 0.51rem;
    line-height: 1.5;
  }
  .butInScale {
    font-size: 1rem !important;   
  }
  .readMoreBtn, .viewProject  { 
    border-radius:6px;   
    padding:0px 3px 0px 3px;
    margin: 6px;
    font-size: 1rem;    
  }
  .readMoreBtn {    
    padding: 0px 2px 0px 2px;    
    font-size: 1rem;    
  }
  .topParagraphMSD {    
    left: 8px;
    top: 3px;  
  }
  .bottomPart {    
    bottom: 3px;
    left: 8px;
  }
  label.closeButton {
    font-size: 0.25rem;
    line-height: 0.7rem;
    margin-left: -3.5px;
  }
  .outerCloseButton {    
    width: 10px;
    height: 10px;
    margin-top: -14px;
    margin-right: -12px;   
  }
  .innerCloseButton:before {
    top: 40%;  
    transform: rotate(45deg);  
  }
}  

@media screen and (min-width: 860px) {
  /*grid box area for "wicd" article*/
  .justifySelfCenter {
    justify-self: center;
  }
  .justifySelfLeft {
    justify-self: start;
  }
  .justifySelfRight {
    justify-self: end;
  }
  .gridBoxWicd {
    display: grid;
    grid-template-areas: 'empt1 cont empt2';    
    grid-template-columns: 1fr 4fr 1fr;
  }
  .wicdCont {
    display: grid;
    grid-area: cont;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .wicdCont > div:nth-of-type(odd) {
    margin-left: 2px;    
    width: 50%;
    align-self: start;
    justify-self: start;
    grid-template-columns: 8fr 0.5fr 0.5fr;
    grid-template-areas: 'contS icon hLine';
  }  
  .wicdCont > div:nth-of-type(odd) > div:nth-of-type(1)  {    
    justify-self: end;
  }  
  
  .wicdCont > div:nth-of-type(even) {  
    margin-right: 1px; 
    width: 50%;    
    align-self: start;
    justify-self: end;
    grid-template-columns: 0.5fr 0.5fr 8fr;
    grid-template-areas: 'hLine icon contS';       
  }  
  .wicdCont > div:nth-of-type(even) > div:nth-of-type(3) {
    margin-left: 20px;
  }
  .invertContS {
    grid-area: contS;
  }
  .invert_vLine {
    grid-area: hLine;    
  }
  .invertIcon {
    grid-area: icon;
  }
  .projectDiv {
    min-width: 320px; 
    min-height: 250px;
    width: 320px; 
    height: 250px;
  }
  .viewProject {
    left: 180px;
    bottom: 16px;
  }
  .viewProject:active {
    bottom:14px;
  }
  .btnResponsiveSize {
    font-size: 5px;
  }  
  .headerContent > h1 {
    font-size: 3.5rem;
  }
  .bgIcon {
    margin: 5px;
  }
  .paragraphMSD {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .butInScale {
    font-size: 1.4rem !important;   
  }
  .readMoreBtn, .viewProject  { 
    border-radius: 18px; 
    padding:2px 8px 2px 8px;
    margin: 15px;
    font-size: 2rem;    
  }
  .readMoreBtn {    
    padding: 2px 8px 2px 8px;    
    font-size: 2rem;    
  }
  .topParagraphMSD {    
    left: 10px;
    top: 10px;  
  }
  .bottomPart {    
    bottom: 0px;
    left: 10px;
  }
  label.closeButton {
    font-size: .5rem; 
    line-height: 1rem;
    margin-left: -7.5px;
  }
  .outerCloseButton {    
    width: 15px;
    height: 20px;
    margin-top: -15px;
    margin-right: -20px;    
  }
  .innerCloseButton:before {
    top: 45%;  
    transform: rotate(45deg);  
  }
  .smallCanvas {    
    height: 100%;
  }
}